#form {
  width: 400px;
  height: 400px;
  background-color: rgb(54, 218, 240);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgb(228, 219, 210);
}
body {
  background-color: #ee4116;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 60px;
}
a {
  text-decoration: none;
}
.inputBox {
  width: 95%;
  height: 50px;
  background-color: rgb(250, 166, 77);
  margin: 10px;
  border: 2px solid rgb(218, 150, 14);
  border-radius: 8px;
}
#taikhoan {
  width: 250px;
  height: 30px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  margin: 10px;
}
#matkhau {
  width: 250px;
  height: 30px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  margin: 10px;
}
.links {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 1px;
}
#btn {
  width: 100%;
  height: 50px;
  background-color: rgb(54, 218, 240);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
}
#btn:hover {
  background-color: rgb(0, 153, 255);
  color: white;
  transition: 0.3s;
}
#dk:hover {
  text-decoration: underline;
  color: red;
  transition: 0.3s;
}
#qmk:hover {
  color: red;
  transition: 0.3s;
  text-decoration: underline;
}
